@use "../styles/common.scss" as *;

.container {
  width: 100%;
  height: 100dvh;
}

.header {
  width: 100%;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  a {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    font-size: $l;
    color: $main;
  }
}

.header.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.tabWrapper {
  width: 100%;
  height: 90dvh;
  filter: drop-shadow(0 0 8px rgba(35, 35, 35, 0.25));
}
.tabs {
  width: 100%;
  height: 8dvh;
  display: flex;
  align-items: end;
  position: relative;
  transition: all 0.3s ease;

  .tab {
    cursor: pointer;
    display: inline-block;
    height: calc(8dvh - 0.8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main;
    font-size: $m;
    font-weight: bold;
    border-radius: 2.4rem 2.4rem 0 0;
    padding: 0.8rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    border: none;
  }

  .artist {
    width: 60%;
    background: $base;
    z-index: 0;
    margin-right: -0.8rem;
  }

  .level {
    width: 45%;
    background: $main;
    color: $base;
    z-index: 0;
  }

  /* 選択されているタブのスタイル */
  .tab.artist.active {
    width: 60%;
    height: 8dvh;
    background: $base;
    color: $main;
    z-index: 2;
  }

  .tab.level.active {
    width: 45%;
    height: 8dvh;
    background: $main;
    color: $base;
    z-index: 2;
  }
}

.tabs.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.searchWrap {
  width: 100%;
  height: 82dvh;
  animation: fadeSlideIn 0.4s ease-out;
  transition: height 0.3s ease;
}

.searchWrap.focused {
  height: 100dvh;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchArtist {
  background-color: $base;
  height: 100%;
  .searchBar {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    padding: 1.6rem 1.6rem 0;
    input {
      width: 100%;
      font-size: $m;
      background: $white;
      border-radius: 1.6rem;
      padding: 0.8rem 1.6rem;
      box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25) inset;
      color: $black;
      font-weight: 800;
      &::placeholder {
        color: $blackHalf;
        font-weight: 400;
      }
    }
  }
  .history {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: $s;
      margin-bottom: 1.6rem;
      color: $black;
    }
    .historyList {
      display: flex;
      column-gap: 2.4rem;
      li {
        width: 7.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .songImg {
          width: 7.2rem;
          height: 7.2rem;
          aspect-ratio: 1/1;
          box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25);
          margin-bottom: 0.4rem;
          border-radius: 0.4rem;
        }
        .songTtl {
          font-size: $s;
          font-weight: 800;
        }
        .artistName {
          font-size: $xs;
          font-weight: 400;
        }
      }
    }
  }

  .searchResults {
    width: 100%;
    padding: 0 1.6rem;
    h3 {
      text-align: start;
      font-size: $s;
      color: $black;
      margin-top: 2.4rem;
      margin-bottom: 1.6rem;
      span {
        margin-left: 0.8rem;
        font-size: $s;
        color: $black;
      }
    }
    .resultList {
      width: 100%;
      max-height: 65dvh;
      overflow-y: scroll;
      scrollbar-color: $main $white;
      scrollbar-width: 1.2rem;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      column-gap: 2.4rem;
      row-gap: 1.6rem;
      padding: 0 1.6rem;
      li {
        // width: 8rem;
        width: calc(100% / 3 - 1.6rem);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .resultSongImg {
          width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25);
          margin-bottom: 0.4rem;
          border-radius: 0.4rem;
        }
        .songTtl {
          font-size: $s;
          font-weight: 800;
        }
        .artistName {
          font-size: $xs;
          font-weight: 400;
        }
      }
    }
  }
}

.searchLevel {
  padding: 1.6rem;
  background-color: $main;
  box-shadow: 0 0 16px 0 rgba(35, 35, 35, 0.25);
  height: 100%;
  .levelDescription {
    text-align: center;
    font-size: $m;
    color: $base;
    margin-bottom: 1.6rem;
  }
  .levelList {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    .levelBtn {
      width: 100%;
      background: $base;
      border-radius: 1.6rem;
      overflow: hidden;
      .levelInfo {
        padding: 0.4rem 0.8rem;
        width: 55%;
        display: flex;
        align-items: center;
        background: $black;
        border-radius: 0 0 1.6rem 0;
        .levelName {
          font-size: $m;
          font-weight: 800;
          color: $white;
          margin-right: 1.6rem;
        }
        .rate {
          font-size: $m;
          font-weight: 800;
          color: $star;
        }
      }
      .levelDesc {
        padding: 0.8rem;
        font-size: $s;
      }
    }
  }
}
