@use "./styles/common.scss" as *;

.container {
  width: 100%;
  height: 100dvh;
  padding: 1.6rem 2.4rem 0;
  position: relative;
  .logo {
    height: 8rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }
  .countDownArea {
    width: 100%;
    height: 16dvh;
    background-color: $base;
    border-radius: 2.4rem;
    box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: $s;
      color: $main;
      text-align: center;
      font-weight: bolder;
    }
  }
  .otherWrap {
    margin-top: 2.4rem;
    .noteWrap {
      width: 50%;
      aspect-ratio: 3/4;
      background-image: url("../public/images/stickers_note.svg");
      background-size: contain;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16% 0 0;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
      &:active {
        transform: scale(0.95);
        opacity: 0.8;
      }
      h2 {
        font-size: $m;
        font-weight: 800;
        color: $main;
      }
      p {
        font-size: $xs;
        font-weight: 400;
        color: $black;
      }
    }
  }
  .searchBtn {
    width: 55%;
    position: absolute;
    bottom: 10dvh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
    border-radius: 4rem;
    background-color: $main;
    box-shadow:
      -8px -8px 8px 0 var(--Accents-Indigo, #6155f5) inset,
      0 0 4px 0 rgba(35, 35, 35, 0.25);
    font-size: $l;
    font-weight: bolder;
    color: $base;
    padding: 1.2rem 0;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    img {
      width: 4rem;
      height: 4rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    &:active {
      transform: translateX(-50%) scale(0.95);
      box-shadow:
        -4px -4px 4px 0 var(--Accents-Indigo, #6155f5) inset,
        0 0 2px 0 rgba(35, 35, 35, 0.25);
    }
  }
}
