@use "../../styles/common.scss" as *;

.container {
  width: 100%;
  height: 100dvh;
}

.header {
  background-color: $main;
  border-radius: 2.4rem 2.4rem 0 0;
  padding: 1.6rem 1.6rem 0.8rem;
  margin-top: 0.8rem;

  .headerTop {
    display: flex;
    column-gap: 1.6rem;
    margin-bottom: 0.4rem;
    button {
      width: 2.4rem;
      aspect-ratio: 1 / 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h1 {
      font-size: $l;
      color: $base;
    }
    p {
      font-size: $l;
      color: $star;
    }
  }
  .levelDescription {
    font-size: $s;
    color: $base;
    font-weight: 700;
    padding-left: 0.8rem;
  }
}

main {
  .searchBar {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    padding: 1.6rem;
    background-color: $mainHalf;
    input {
      width: 100%;
      font-size: $m;
      background: $white;
      border-radius: 1.6rem;
      padding: 0.8rem 1.6rem;
      box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25) inset;
      color: $black;
      font-weight: 800;
      &::placeholder {
        color: $blackHalf;
        font-weight: 400;
      }
    }
  }
  .recommendWrap {
    padding: 2.4rem;
    h3 {
      text-align: start;
      font-size: $s;
      color: $black;
    }
    .recommendList {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2.4rem;
      row-gap: 1.6rem;
      flex-wrap: wrap;
      padding: 1.6rem 1rem 0;
      li {
        width: 8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .recommendSongImg {
          width: 8rem;
          height: 8rem;
          aspect-ratio: 1/1;
          background-color: pink;
          box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25);
          margin-bottom: 0.4rem;
          border-radius: 0.4rem;
        }
        .songTtl {
          font-size: $s;
          font-weight: 800;
        }
        .artistName {
          font-size: $xs;
          font-weight: 400;
        }
      }
    }
  }
}
